.intro {
  font-style: italic;
}
.author {
  color: #f00;
}
p.author {
  font-size: 12px;
}
.footer {
  text-align: center;
}
img {
  float: left;
}
.sidebar {
  width: 30%;
  float: right;
  background-color: yellow;
}
.column {
  width: 500px;
  float: left;
}