.italic{
  font-style: italic;
  font-weight: normal;
  font-size: large;
}
.bold{
  font-weight: bold;
  font-style: normal;
}
.test-box {
  border: 2px solid red;
  padding: 6px;
  margin: 20px;
  background-color: yellow;
}
.test-box2 {
  border-left: 2px solid red;
  border-right: 4px solid blue;
  border-top: 6px solid orange;
  border-bottom: 8px solid black;
}
.cats p {
  background-color: gray;
}
.dogs p {
  background-color: steelblue;
}
.cats p a {
  font-weight: bold;
}
.dogs p a {
  font-style: italic;
}
